<%= form_for(@task) do |f| %>
  <div class="field">
    <%= f.label :"タスク名" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="area">
    <%= f.label :"詳細" %>
    <%= f.text_area :detail, class: 'form-control' %>
  </div>
    <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>