<ul class = "task">
  <li class = "task-id"><%= "No.#{task.id}" %></li>
  <li class = "task-name"><%= link_to task.name, task %></li>
  <li class = "task-detail"><%= task.detail %></li>
  <li class = "task-deadline"><%= task.deadline %></li>
  <li class = "task-status"><%= task.status %></li>
</ul>