<tr>
  <td class="task-id"><%= task.id %></td>
  <td class="task-name"><%= link_to task.name, task %></td>
  <td class="task-detail"><%= task.detail %></td>
  <td class="task-deadline"><%= task.deadline %></td>
  <td class="task-status"><%= task.status_i18n %></td>
  <td class="task-priority"><%= task.priority_i18n %></td>
  <td class="task-created_at"><%= task.created_at %></td>
  <td class="task-label">
    <% task.task_labels.each do |l| %>
      <%= l.label.name %>,
    <% end %>
  </td>
</tr>
