<% provide(:title, 'タスク詳細') %>
<h1>タスク詳細</h1>
  <div class="new-task">
    <%= link_to "編集" , edit_task_path, class: "btn btn-primary"%>
    <%= link_to "削除" , task_path, method: :delete, class: "btn btn-primary btn-2" %>
  </div>
  <table class="table">
  <tbody>
    <tr>
      <td>id</td>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <td>タスク名</td>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <td>詳細</td>
      <td><%= @task.detail %></td>
    </tr>
    <tr>
      <td>期限日</td>
      <td><%= @task.deadline %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @task.status_i18n %></td>
    </tr>
    <tr>
      <td>優先度</td>
      <td><%= @task.priority_i18n %></td>
    </tr>
    <tr>
      <td>ラベル</td>
      <td>
        <% @task.task_labels.each do |l| %>
          <%= l.label.name %>,
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
