<% provide(:title, 'タスク詳細') %>
<h1>タスク詳細</h1>
  <div class="new-task">
    <%= link_to "編集" , edit_task_path, class: "btn btn-primary"%>
    <%= link_to "削除" , task_path, method: :delete, class: "btn btn-primary" %>
  </div>
    <div class="tasks">
      <ul>
        <li><%= "No.#{@task.id}" %></li>
        <li><%= @task.name %></li>
        <li><%= @task.detail %></li>
        <li><%= @task.deadline %></li>
        <li><%= @task.status %></li>
      </ul>
    </div>
  </div>
