<%= form_for(@task) do |f| %>
  <%= render 'shared/task_error_messages' %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="area">
    <%= f.label :detail %>
    <%= f.text_area :detail, class: 'form-control' %>
  </div>
  <div class="date">
    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: 'form-control' %>
  </div>
  <div class="select">
    <%= f.label :status %>
    <%= f.select :status, [["", nil], '未着手', '着手中', '完了'], class: 'form-control' %>
  </div>
  <div class="select">
    <%= f.label :priority %>
    <%= f.select :priority, ['低', '中', '高'], :selected => "中", class: 'form-control' %>
  </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>